* { margin: 0; padding: 0; outline: 0; border: none; box-sizing: border-box; }
button { cursor: pointer; }
body { font-family: Helvetica, arial, freesans, clean, sans-serif; padding: 20px; overflow-x: hidden; }
@font-face { font-family: 'octicons'; src: url('octicons.woff') format('woff'); }
.octicon { font: normal normal 16px octicons; line-height: 1; display: inline-block; text-decoration: none; -webkit-font-smoothing: antialiased; }
.octicon-repo:before { content: '\f001'; }
.octicon-star:before { content: '\f02a'; }
.octicon-git-branch:before { content: '\f020'; }
.st-header { margin-bottom: 40px; }
.st-input { text-align: center; margin: 20px 0; }
.st-output { opacity: 0; transition: all 1.5s ease-in-out; }
.hy-title { display: inline-block; color: #333; text-decoration: none; text-align: center; font-size: 28px;  }
.hy-title:hover { border-left: 6px solid; margin-left: -12px; padding-left: 6px; }
.hy-caption { color: #555; text-align: center; margin-top: 6px; }
.gh-quote { color: #ccc; font-style: italic; text-align: center; height: 30px; margin-top: 8px; }
.hy-username { padding: 15px; background-color: #333; border-left: 10px solid #CCC; color: #ccc; font-size: 25px; width: 280px; line-height: 25px; margin-bottom: 20px; }
.hy-button { padding: 0 10px; background-image: linear-gradient(#8add6d, #60b044); background-repeat: repeat-x; color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); border: 1px solid #5ca941; border-radius: 3px; line-height: 24px; font-size: 13px; font-weight: bold; }
.hy-button:focus, .hy-button:hover { background-image: linear-gradient(#79d858, #569e3d); border-color: #4a993e; }
.hy-button:active { background-color: #569e3d; background-image: none; border-color: #418737; box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15); }
.hy-hubalyze { margin-left: 10px; vertical-align: super; }
.ve-username, .ve-xhr, .ve-xhr-documentation { display: none; color: #c42525; }
.ve-username { margin-top: 10px; }
.ve-username:after { content: ' doesn\'t even look like a valid username.'; white-space: pre; display: inline-block; }
.ve-xhr { max-width: 500px; margin: 20px auto 0; }
.ve-xhr-documentation { margin-top: 20px; text-decoration: none; font-weight: bold; }
.ve-show { display: block; }
.hy-reveal .st-input { display:  none; }
.hy-reveal .st-output { opacity: 1; }
.hy-again { margin: 0 auto; padding-bottom: 7px; color: #333; background: none; font-size: 18px; display: block; clear: both; }
.hy-again:hover { border-bottom: 5px solid; }
.oh-name { color: #333; text-decoration: none; font-size: 30px; line-height: 40px; vertical-align: top; }
.oh-name-heading { margin-bottom: 4px; }
.oh-name-login { color: #bbb; }
.oh-name[href] .oh-name-heading:hover { border-bottom: 6px solid; margin-bottom: -2px; }
.oh-avatar-container { width: 80px; float: right; text-align: center; }
.oh-avatar { width: 80px; }
.ot-stat { display: inline-block; text-decoration: none; color: #444; font-size: 36px; text-align: center; margin-right: 4px; margin-top: 4px; width: 120px; }
.ot-statname { display: block; margin-top: 3px; font-size: 11px; color: #999; }
.ot-stat:hover, .ot-stat:hover .ot-statname { color: #4183c4; }
.ot-sidebar { margin-top: 8px; text-align: center }
.ot-sidebar, .ot-main, .ot-description, .ot-repos { vertical-align: top; }
.ot-main { margin-top: 30px; }
.ot-heading { margin-bottom: 20px; color: #222; font-weight: bold; font-size: 28px; }
.ot-list { list-style: none; }
.ot-repos-section { display: inline-block; vertical-align: top; margin-right: 40px; width: 300px; }
.ot-repo { margin-bottom: 8px; }
.ot-repo-none { color: #c42525; font-style: italic; font-size: 14px; }
.ot-repo-icon { vertical-align: top;  margin-right: 4px; }
.ot-repo-info { display: inline-block; text-align: left }
.repo-name { font-weight: bold; color: #4183c4; text-decoration: none; }
.repo-name:hover { text-decoration: underline; }
.repo-description { display: block; width: 180px; color: #aaa; font-size: 13px; }
.ot-truncate { overflow: hidden; text-overflow: ellipsis; vertical-align: top; white-space: nowrap; }
.ot-stars-and-forks { display: inline-block; vertical-align: top; margin-left: 4px; text-align: right; width: 60px; }
.ot-stars { margin-bottom: 3px; }
.ot-stars, .ot-forks { font-size: 16px; }
.ot-most-starred .ot-forks, .ot-most-forked .ot-stars { font-size: 12px; color: #ddd; }
.ot-description { margin-top: 20px; }
.ot-description-summary { font-style: italic; margin-bottom: 20px }

@media only screen and (min-width: 1024px) {
  body { max-width: 1015px; margin: 0 auto; }
  .ot-main { margin-top: 8px; }
  .oh-avatar-container { width: 110px; display: inline-block; float: inherit; }
  .oh-name, .oh-name-heading { display: inline-block; }
  .ot-repos { text-align: center; float: right; width: 305px; }
  .ot-heading-forks { margin-top: 40px; }
  .ot-sidebar { display: inline-block; margin-right: -100px; width: 95px; }
  .ot-stat { display: block; width: 95px; }
  .ot-main { display: inline-block; margin-left: 110px; }
  .ot-description { margin-top: inherit; }
  .ot-description, .ot-graphics { margin-right: 315px; max-width: 700px; }
  .repo-description { width: 200px; }
}
